body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 h5 {
  font-size: 35px;
  font-weight: 700;
  color: blue;
}

p {
  font-size: 17px;
  line-height: 1.5;
}

/*  == Header == */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.hero__photo {
  width: 150px;
  height: 150px;
  margin-left: 20px;
}

.nav__list {
  display: flex;
  list-style: none;
  margin-right: 85px;
}

.nav__item {
  margin-right: 75px;
  font-size: 25px;
}

.nav__link {
  text-decoration: none;
  color: black;
}

/* == Main == */

.information {
  padding-left: 20px;
  background: url("img/background.jpg");
}

aside {
  width: 30%;
  float: right;
  padding: 0 23px;
  margin-top: 15px;
}

aside p {
  font-style: italic;
  font-size: 15px;
  color: blue;
}

.myself {
  padding-top: 10px;
}

.skills__list {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-style: italic;
}

.works__btn {
  margin-left: 35px;
  padding: 15px 30px;
  background: rgb(21, 255, 0);
  border-radius: 20px;
  border: none;

  transition: background 0.1s linear;
}

.btn__work:hover {
  background: #68d7f2;
  cursor: pointer;
}

.btn__link {
  text-decoration: none;
  color: #e88025;
  font-size: 35px;
}

.contacts {
  padding-bottom: 30px;
}

#contacts {
}

.contacts__data-link {
  font-size: 20px;
  color: #e88025;
  text-decoration: none;
  line-height: 1.6;
}

.contacts__data-link:hover {
  color: blue;
}

.contacts__data-items li {
  list-style: none;
}

/* == Footer == */

.footer {
  margin-top: 100px;
  text-align: center;
}
